body {
    font-family: Arial, sans-serif;
    background-color: rgb(95, 164, 110);
    color: #ffffff;

}

.page {
    text-align: center;
    color: black;

}

hr {
    border-color: rgb(71, 86, 157);
    border-style: solid;

}

.temp {
    margin: 20px;
    text-align: center;
    border: 4px solid #383838;
    padding: 20px;
    border-radius: 7px;
    border-color: rgb(32, 32, 32);
    color: black;
}   
   

.button-container {
    text-align: center;
}

a.button {
    display: block;
    width: 200px; 
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px;
    background-color: rgb(52, 52, 52);
    color: rgb(71, 86, 157);
    text-decoration: none; 
    font-size: 20px;
    border-radius: 7px;
}

a.button:hover {
    background-color: rgb(255, 214, 232);
}

